name: Build and Deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
permissions:
  pull-requests: read
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install the dependencies
        run: |
          python -m pip install -r requirements.txt
      - name: Build the JupyterLite site
        run: |
          cp README.md content
          jupyter lite build --contents content --output-dir dist
      # - name: Upload artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     path: ./dist
      - name: Save PR number
        uses: trungleduc/appsharingspace-pr-comment/.github/actions/save-pr-number@main
          

